[submodule "tools/lalg"]
	path = tools/lalg
	url = https://github.com/HannesOhl/lalg.git
[submodule "tools/objToC"]
	path = tools/objToC
	url = https://github.com/HannesOhl/objToC.git
[submodule "tools/pngToBin"]
	path = tools/pngToBin
	url = https://github.com/HannesOhl/pngToBin.git
